{% block content %}
{% include "header.html" %}


<form action="" method="post">

    <div class="container-fulid mt-4 ml-1">
        <div class="row">
            <!-- project details form -->
            <div class="col-4">
                <div class="admim_register_box shadow">
                    <form>
                        <h6 class="admin_register_heading"><b> Register</b></h6>
                        <hr>
                        <div class="row mt-2">
                            <div class="col-6">
                                <label for="name">Name</label>
                            </div>
                            <div class="col-6">
                                <input type="text" class="form-control-sm-sm admin_register_input" name="name" required>

                            </div>
                        </div>
                        <div class="row  mt-1">
                            <div class="col-6">
                                <label for="email">Email </label>
                            </div>
                            <div class="col-6">
                                <input type="email" id="email" class="form-control-sm-sm admin_register_input" onblur=handleChange() name="email"
                                    required>

                            </div>
                            <!-- <p id="output"></p> -->
                        </div>
                        <div class="row  mt-1">
                            <div class="col-6">
                                <label for="Password">Password </label>
                            </div>
                            <div class="col-6">
                                <input type="text" class="form-control-sm-sm admin_register_input" name="password"
                                    required>

                            </div>
                        </div>
                        <div class="row  mt-1">
                            <div class="col-6">
                                <label for="employeeId">Employee Id</label>
                            </div>
                            <div class="col-6">
                                <input type="text" class="form-control-sm-sm admin_register_input" name="employeeId"
                                    required>

                            </div>
                        </div>
                        <div class="row  mt-1">
                            <div class="col-6">
                                <label for="mobile">Mobile</label>
                            </div>
                            <div class="col-6">
                                <input type="text" class="form-control-sm-sm admin_register_input" name="mobile"
                                    required>

                            </div>
                        </div>
                        <div class="row  mt-1">
                            
                            <div class="col-6">
                                <label for="designation">Department</label>
                            </div>
                            <div class="col-6">
                                    <select name="department" class="form-control-sm-sm admin_register_input" required>
                                        {% for department in departments %}
                                            <option value="{{department.id}}">{{department.name}}</option>
                                        {% endfor %}
                                    </select>
                            </div>
                        </div>
                        <div class="row  mt-1">
                            
                            <div class="col-6">
                                <label for="designation">Designation</label>
                            </div>
                            <div class="col-6">
                                    <select name="designation" class="form-control-sm-sm admin_register_input" required>
                                        {% for designation in designations %}
                                            <option value="{{designation.id}}">{{designation.name}}</option>
                                        {% endfor %}
                                    </select>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-info btn-sm admin_register_btn mt-1">Register</button>


                    </form>
                </div>
            </div>




        </div>

    </div>
</form>

<script>
     function handleChange() {

        var emailID = $("#email").val();
        // alert('blur working')


        $.ajax({

            type: "GET",

            url: "/isUserExist",

            data: {

                emailID: emailID,

            },

            success: function(data) {

                console.log(data);

                // $('#output').html(data.message);
                alert(data.message)

            },

            error: function(xhr, status, error) {

                // console.error("Error:", error);
                // $('#output').val(data.message);
                alert(data.message);
            }

        });

    }
</script>
{% include "footer.html" %}
{% endblock %}