<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='styles_login.css')}}">
    <title>Login</title>
</head>

<body>
    <div class="company" style="margin-top: 50px;">
        <img style="width: 15%;" alt="" src="{{ url_for('static', filename='/images/Fcc logo.png') }}">
    </div>
    <div class="" style="text-align: center;">
        <p>Control Valve Sizing Software</p>
    </div>
  
    <div class="container">
        <div class="form-container">
            <h2>Login</h2>
            <form action="{{url_for('login')}}" method="POST">
                <input type="email" name="email" placeholder="Email" required>
                <input type="password" name="password" placeholder="Password" required>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        
                            {% for message in messages %}
                                <p class="flashes">{{ message }}</p>
                            {% endfor %}
                        
                    {% endif %}
                {% endwith %}
                {% block body %}{% endblock %}
                <button type="submit">Login</button>
                <label for="" style="color: rgb(133, 133, 133);"> <label for=""><a href="{{url_for('emailOTP')}}">New User</a><label for=""> / </label>
                <a href="{{url_for('resetPassword')}}">Forgot Password</a></label>
            </form>
        </div>
    </div>



</body>

</html>