{% block content %}
{% include "header.html" %}
<br><br>

                        <div class="projectdetails">
                            <div class="project ">
                                <div class="row mt-1">
                                    <div class="col-6">
                                        <div class="row">
                                            <div class="col-6">
                                                <h6 class="heading"><b>Table Name: {{name}}</b></h6>
                                            </div>
                                    
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-6">
                                        <div class="row">
                                            <div class="col-8">
                                                <div class="form-group">
                                                    <input
                                                        type="text"
                                                        name="name"
                                                        placeholder="Search........."
                                                        class="form-control reference_input"
                                                        id="projectinput"
                                                        style="height: 35px;"
                                                    />
                                                </div>
                                            </div>
                                            <div class="col-2">
                                                <button type="button" class="btn btn-primary " id="btn">
                                                    <i class="fa-solid fa-magnifying-glass"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-6">
                                        <div class="row">
                                            <div class="col-12">
                                                
                                                <!-- <input type="file" class=""> -->
                                            <button type="button" class="btn btn-info btn-sm refernce_btn"><a href="{{url_for('downloadData', topic=topic, item_id=item.id, proj_id=item.project.id)}}">Download</a></button>
                                            <!-- <button type="button" class="btn btn-info btn-sm refernce_btns">Upload</button> -->
                                            <form method = "POST" enctype="multipart/form-data" action = "{{url_for('uploadData', topic=topic, item_id=item.id, proj_id=item.project.id)}}">
                                                <input type="file" name="file" accept=".csv" required class="form-control-sm refernce_selectfile" style="height: 35px;">
                                                <input type = "submit" class="btn btn-info btn-sm refernce_btns" value="Upload" style="height: 35px;">
                                            </form>
                                            </div>
                                        </div>
                                    </div>
                                         
                                </div>
                                <div
                                    class="container-fulid">
                                    <div class="table-wrapper-scroll-y my-custom-scrollbar">
                                        <table class="table table-striped table-bordered refernce_table1">
                                            <thead class="table-sm reference_thead">
                                                <tr class="table-sm">
                                                    <th>S .No.</th>
                                                    {% for key in all_keys_[1:] %}
                                                    <th>{{key}}</th>
                                                    {% endfor %}
                                                </tr>
                                                    
                                            </thead>

                                            <tbody class="table-sm" id="projectlist">

                                                {% for data_ in all_data %}
                                                <form action="{{url_for('updateData', proj_id=item.project.id, item_id=item.id, topic=topic, record_id=data_.id)}}" method="post">
                                                    <tr>
                                                        {% for key in all_keys %}
                                                        <td><input type="text" name="{{key}}" value="{{data_[key]}}"></td>
                                                        {% endfor %}
                                                        <td><input type="submit" value="Update"></td>
                                                    </tr>
                                                </form>
                                                {% endfor %}
                                                

                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
{% include "footer.html" %}
{% endblock %}