{% block content %}
{% include "header.html" %}
<br><br>
<form action="{{url_for('rotaryActuator', item_id=item.id, proj_id=item.project.id, page=page)}}" method="post">
                <div class="row mt-2">
                    <div class="col-12">
                        <div class="row ">
                            
                            <div class="col-3">
                                <div class="actuator shadow p-2">
                                    <h6 class="actuator_heading"><b>Actuator Selection</b></h6>
                                    <hr>
                                    <div class="row">
                                        <div class="col-6">
                                            <label for="actType" >Actuator Type</label>
                                        </div>
                                        <div class="col-6">
                                            <select class="actuator_select"  name="actType" >
                                                {% for act_type in metadata['actuatorData']['actType'] %}
                                                {% if act.actuatorType == act_type.name %}
                                                <option value="{{act_type.id}}" selected>{{act_type.name}}</option>
                                                {% else %}
                                                <option value="{{act_type.id}}">{{act_type.name}}</option>
                                                {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6 pr-0">
                                            <!-- Spring Action / Fail Mode -->
                                            <label for="failAction">Spring/Air Fail Action</label>
        
                                        </div>
                                        <div class="col-6">
                                            <select class="Spring Action actuator_select"  name="failAction"
                                            >
                                            {% for act_type in metadata['actuatorData']['failAction'] %}
                                            {% if act.springAction == act_type.id%}
                                            <option value="{{act_type.id}}" selected>{{act_type.name}}</option>
                                            {% else %}
                                            <option value="{{act_type.id}}">{{act_type.name}}</option>
                                            {% endif %}
                                            {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <!-- Hand Wheel -->
                                            <label for="mount">Hand Wheel</label>
                                        </div>
                                        <div class="col-6">
                                            <select class=" actuator_select" name="mount">
                                                {% for act_type in metadata['actuatorData']['handwheel'] %}
                                                {% if act.handWheel == act_type.name %}
                                                <option value="{{act_type.id}}" selected>{{act_type.name}}</option>
                                                {% else %}
                                                <option value="{{act_type.id}}">{{act_type.name}}</option>
                                                {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <!-- Hand Wheel -->
                                            <label for="mount">Adj. Travel Stop</label>
                                        </div>
                                        <div class="col-6">
                                            <select class=" actuator_select" name="travel">
                                                {% for act_type in metadata['actuatorData']['travel'] %}
                                                {% if act.adjustableTravelStop == act_type.name %}
                                                    <option value="{{act_type.id}}" selected>{{act_type.name}}</option>
                                                {% else %}
                                                    <option value="{{act_type.id}}">{{act_type.name}}</option>
                                                {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <!-- Orientation -->
                                            <label for="orientation">Orientation</label>
                                        </div>
                                        <div class="col-6">
                                            <select class=" Orientation actuator_select" name="orientation"
                                                id=" orientation">
                                                {% for act_type in metadata['actuatorData']['orientation'] %}
                                                {% if act.orientation == act_type.name %}
                                                <option value="{{act_type.id}}" selected>{{act_type.name}}</option>
                                                {% else %}
                                                <option value="{{act_type.id}}">{{act_type.name}}</option>
                                                {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6 pr-0">
                                            <!-- Available Air Supply -->
                                            <label for="airUnit">Air Supply Pressure</label>
        
                                        </div>
                                        <div class="col-3">
                                            <input type="number" value="{{act.availableAirSupplyMin}}" class="form-control-sm-sm actuator_input1" required name="availableAirSupplyMin">
                                        </div>
                                        <div class="col-3">
                                            <select class="form-control-sm-sm actuator_select1" name="availableAirSupplyMaxUnit">
                                                {% for presunit in metadata['units_dict']['pressure'] %}
                                                        {% if presunit.name == act.availableAirSupplyMaxUnit %}
                                                        <option value="{{presunit.id}}" selected>{{presunit.name}}</option>
                                                        {% else %}
                                                        <option value="{{presunit.name}}" >{{presunit.name}}</option>
                                                        {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
        
                                    <div class="row">
                                        <div class="col-6">
                                            <!-- Available Air Supply -->
                                            <label for="setpressure">Set Pressure</label>
        
                                        </div>
                                        <div class="col-3">
                                            <input type="number" step="0.1" value="{{act.availableAirSupplyMax}}" class="form-control-sm-sm actuator_input1" required name="availableAirSupplyMax">
                                        </div>
                                        <div class="col-3">
                                            <select class="actuator_select1 form-control-sm-sm" name="setPressureUnit">
                                                {% for presunit in metadata['units_dict']['pressure'] %}
                                                        {% if presunit.name == act.setPressureUnit %}
                                                        <option value="{{presunit.id}}" selected>{{presunit.name}}</option>
                                                        {% else %}
                                                        <option value="{{presunit.name}}" >{{presunit.name}}</option>
                                                        {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
        
                                    <div class="row">
                                        <div class="col-6">
                                            <!-- Shut Off Pressure -->
                                            <label for="shutoffDelP">Shut Off Pressure</label>
                                        </div>
                                        <div class="col-3">
                                            <input type="text" readonly value="{{valve.shutOffDelP}}"  class="form-control-sm-sm actuator_input1" name="shutoffDelP">
                                        </div>
                                        <div class="col-3">
                                            <input type="text" value="{{valve.shutOffDelPUnit}}" readonly class="form-control-sm-sm actuator_input" name="shutoffDelPUnit">
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-3">
                                    <input type="submit" class="btn btn-info active actuator_button1" name="sliding" value="Sliding Stem Actuator Sizing">
                                    <input type="submit" class="btn  btn-info actuator_button2 mt-2"  name="rotary" value="Rotary Actuator Sizing">
                                  
                                </div>
                            </div>


                            <div class="col-4 mt-0 ml-1">
                       
                                <div class="row">
                                    <div class="col-10">
                                        <h6 class="sliding_heading"><b>Input</b></h6>
                                    </div>
                               
                                    <a href="{{url_for('rotaryActCaseDelete', item_id=item.id, proj_id=item.project.id, act_id=act.id)}}"  data-id="" class="col-1 delete-actcase">
                                        <i class="fa-solid fa-close fa-1x closeicon " data-toggle="tooltip" title="Delete Actuator Case"></i>
                                    </a>
                                 
                                   
                                </div>

                                <div class="row ml-1">
                                    <div class="col-6" style="border-bottom:  1px solid #607274;">
                                        
                                        <div class="row sizingtableleft" ><p class="sizingp">Description</p></div>
                                        <div class="row sizingtableleft" ><p class="sizingp" name="v_size">Valve Size</p></div>
                                        <div class="row sizingtableleft" ><p class="sizingp" name="disc_dia">Disc Dia</p></div>
                                        <div class="row sizingtableleft" ><p class="sizingp" name="shaft_dia" >Shaft Dia</p></div>
                                        <div class="row sizingtableleft" ><p class="sizingp" name="max_rot">Max Rotation</p></div>
                                        <div class="row sizingtableleft" ><p class="sizingp"  name="delP">ΔP ShutOff</p></div>
                                        <div class="row sizingtableleft" ><p class="sizingp"  name="bush_coeff">Co-Eff of Bushing</p></div>
                                        <div class="row sizingtableleft" ><p class="sizingp" name="csc">C_usc</p></div>
                                        <div class="row sizingtableleft" ><p class="sizingp" name="csv">C_usv</p></div>
                                        <div class="row sizingtableleft" ><p class="sizingp" name="a_factor">A Factor</p></div>
                                        <div class="row sizingtableleft" ><p class="sizingp"   name="b_factor">B Factor</p></div>
                                        <div class="row sizingtableleft" ><p class="sizingp"  name="pack_coeff">Co-Eff Packing Friction</p></div>
                                        <div class="row sizingtableleft" ><p class="sizingp" name="radial_coeff">Packing Radial to Axial Stress</p></div>
                                        <div class="row sizingtableleft"  ><p class="sizingp" name="Section">Packing Section (Hp)</p></div> 
                                    </div>
                                    <div class="col-3" style="border-bottom:  1px solid #607274;">
                                        <div class="row sizingtableleft"><p class="sizingp">Unit</p></div>
                                        <div class="row sizingtable">
                                            <select name="valveSizeUnit" class="form-control-sm-sm sliding_select RactuatorUnits" data-desc="valveSize"
                                            >
                                            {% for length in metadata['units_dict']['length'] %}
                                                <option value="{{length.id}}" 
                                                {% if act_case_data.valveSizeUnit == length.id %}
                                                selected
                                                {% endif %}
                                                
                                                >{{length.name}}</option>
                                            {% endfor %}
                                        </select>
                                        </div>
                                        <div class="row sizingtable">
                                            <select name="discDiaUnit" class="form-control-sm-sm sliding_select RactuatorUnits" data-desc="discDia"
                                            >
                                            {% for length in metadata['units_dict']['length'] %}
                                                <option value="{{length.id}}" 
                                                {% if act_case_data.discDiaUnit == length.id %}
                                                selected
                                                {% endif %}
                                                >{{length.name}}</option>
                                            {% endfor %}
                                        </select>
                                        </div>
                                        <div class="row sizingtable">
                                            <select name="shaftDiaUnit" class="form-control-sm-sm sliding_select RactuatorUnits" data-desc="shaftDia"
                                            >
                                            {% for length in metadata['units_dict']['length'] %}
                                                <option value="{{length.id}}" 
                                                {% if act_case_data.shaftDiaUnit == length.id %}
                                                selected
                                                {% endif %}
                                                
                                                >{{length.name}}</option>
                                            {% endfor %}
                                        </select>
                                        </div>
                                        <div class="row sizingtable">
                                            <select id="" class="form-control-sm-sm Rotary_select"  name="max_rotUnit">
                                                <option value="deg">deg</option>
                                            </select>
                                        </div>
                                        <div class="row sizingtable">
                                            <select name="delpUnit" class="form-control-sm-sm sliding_select RactuatorUnits" data-desc="delp"
                                            >
                                            {% for length in metadata['units_dict']['pressure'] %}
                                                <option value="{{length.id}}" 
                                                {% if act_case_data.delpUnit == length.id %}
                                                selected
                                                {% endif %}
                                                >{{length.name}}</option>
                                            {% endfor %}
                                        </select>
                                        </div>
                                        <div class="row sizingtable"><input type="text" class="form-control-sm-sm Rotary_input"  name="bush_coeffUnit"></div>
                                        <div class="row sizingtable"><input type="text" class="form-control-sm-sm Rotary_input" name="cscUnit"></div>
                                        <div class="row sizingtable"><input type="text" class="form-control-sm-sm Rotary_input" name="csvUnit"></div>
                                        <div class="row sizingtable"><input type="text" class="form-control-sm-sm Rotary_input" name="a_factorUnit"></div>
                                        <div class="row sizingtable"><input type="text" class="form-control-sm-sm Rotary_input"  name="b_factorUnit"></div>
                                        <div class="row sizingtable"><input type="text" class="form-control-sm-sm Rotary_input" name="pack_coeffUnit" ></div>
                                        <div class="row sizingtable">
                                      
                                        </div>
                                        <div class="row sizingtable">
                                            <select name="packingRadialUnit" class="form-control-sm-sm sliding_select RactuatorUnits" data-desc="packingRadial"
                                            >
                                            {% for length in metadata['units_dict']['length'] %}
                                                <option value="{{length.id}}" 
                                                {% if act_case_data.packingRadialUnit == length.id %}
                                                selected
                                                {% endif %}
                                                >{{length.name}}</option>
                                            {% endfor %}
                                        </select>
                                        </div>
                                    </div>
                                    <div class="col-3" style="border-bottom:  1px solid #607274;">
                                        <div class="row sizingtableleft"><p class="sizingp">Values</p></div>
                                        <div class="row sizingtable"><input type="text" class="form-control-sm-sm Rotary_input rActuator_valveSize v_size" name="v_size"  {% if act_case_data.v_size %} value="{{act_case_data.v_size}}"  {% else %} value="{{cases[0].valveSize}}" {% endif %} ></div>
                                        <div class="row sizingtable"><input type="text" class="form-control-sm-sm Rotary_input rActuator_discDia d_dia" name="disc_dia" {% if act_case_data.disc_dia %} value="{{act_case_data.disc_dia}}" {% else %} value="{{cv_element.seatBore}}" {% endif %}></div>
                                        <div class="row sizingtable"><input type="text" class="form-control-sm-sm Rotary_input rActuator_shaftDia" name="shaft_dia" {% if act_case_data.shaft_dia %} value="{{act_case_data.shaft_dia}}" {% endif %}></div>
                                        <div class="row sizingtable"><input type="text" class="form-control-sm-sm Rotary_input" readonly name="max_rot" value=90></div>
                                        <div class="row sizingtable"><input type="text" class="form-control-sm-sm Rotary_input rActuator_delp" name="delP" {% if act_case_data.delP %} value="{{act_case_data.delP}}" {% else %} value="{{valve.shutOffDelP}}" {% endif %}></div>
                                        <div class="row sizingtable"><input type="text" class="form-control-sm-sm Rotary_input"  name="bush_coeff" {% if act_case_data.bush_coeff %} value="{{act_case_data.bush_coeff}}" {% else %} value=0.15 {% endif %}></div>
                                        <div class="row sizingtable"><input type="text" class="form-control-sm-sm Rotary_input cusc"  name="csc" {% if act_case_data.csc %} value="{{act_case_data.csc}}" {% endif %}></div>
                                        <div class="row sizingtable"><input type="text" class="form-control-sm-sm Rotary_input cusp" name="csv" {% if act_case_data.csv %} value="{{act_case_data.csv}}" {% endif %}></div>
                                        <div class="row sizingtable"><input type="text" class="form-control-sm-sm Rotary_input a_fac" name="a_factor" {% if act_case_data.a_factor %} value="{{act_case_data.a_factor}}" {% endif %}></div>
                                        <div class="row sizingtable"><input type="text" class="form-control-sm-sm Rotary_input b_fac"  name="b_factor" {% if act_case_data.b_factor %} value="{{act_case_data.b_factor}}" {% endif %}></div>
                                        <div class="row sizingtable"><input type="text" class="form-control-sm-sm Rotary_input"  name="pack_coeff" {% if act_case_data.pack_coeff %} value="{{act_case_data.pack_coeff}}" {% else %} value=0.5 {% endif %}></div>
                                        <div class="row sizingtable"><input type="text" class="form-control-sm-sm Rotary_input radial_coeff" name="radial_coeff" {% if act_case_data.radial_coeff %} value="{{act_case_data.radial_coeff}}" {% endif %} ></div>
                                        <div class="row sizingtable"><input type="text" class="form-control-sm-sm Rotary_input rActuator_packingRadial" name="Section" {% if act_case_data.Section %} value="{{act_case_data.Section}}" {% else %} value=0.375 {% endif %}></div>
                                    </div>
                                </div>

                                <div class="button mt-3 ml-3">
                                    <div class="row">
                                        <!-- <button type="button" class="btn btn-info input_btn1 rotary_calculate">Calculate</button> -->
                                        <input type="submit" class="btn btn-info input_btn1" name="rotary_calculate" value="Calculate">
                                        <input type="submit" class="btn btn-info ml-3 input_btn2" name="select_Ractuator" value="Select Actuator">
                                        <!-- <a href="Selectacuator(rotary).html"><button type="button" class="btn btn-info ml-3 input_btn2">Select Actuator</button></a> -->
                                    </div>
                                </div>
                            </div>


                            <div class="col-4 mt-0">
                        
                                <h5 class="Rotary_heading mt-1"><b>Calculated Results</b></h5>
                                <div class="row ml-1">
                                    <div class="col-6" style="border-bottom:  1px solid #607274;">
                                        <div class="row sizingtableleft"><p class="sizingp">Description</p></div>
                                        <div class="row sizingtableleft"><p class="sizingp" name="st">Seating Torque</p></div>
                                        <div class="row sizingtableleft"><p class="sizingp"  name="pt">Packing Torque</p></div>
                                        <div class="row sizingtableleft"><p class="sizingp" name="ft">Friction Torque</p></div>
                                        <div class="row sizingtableleft"><p class="sizingp" name="bto">Break to Open Torque</p></div>
                                        <div class="row sizingtableleft"><p class="sizingp" name="rto">Run to Open Torque</p></div>
                                        <div class="row sizingtableleft"><p class="sizingp" name="eto">End to Open Torque</p></div>
                                        <div class="row sizingtableleft"><p class="sizingp" name="btc">Break to Close Torque</p></div>
                                        <div class="row sizingtableleft"><p class="sizingp" name="rtc">Run to Close Torque</p></div>
                                        <div class="row sizingtableleft"><p class="sizingp"  name="etc">End to Close Torque</p></div>
                                        <div class="row sizingtableleft"><p class="sizingp" name="mast">MAST </p></div>
                                        <div class="row sizingtableleft"><p class="sizingp"  name="setP" >Set Pressure</p></div>
                                        <div class="row sizingtableleft"><p class="sizingp" name="">Actuator Size</p></div>
                                        <div class="row sizingtableleft"><p class="sizingp" name="">Max Air Supply</p></div>
                                        <div class="row sizingtableleft"><p class="sizingp" name="">Spring Set</p></div>
                                        <div class="row sizingtableleft"><p class="sizingp" name=""> Spring Torque (Start)</p></div>
                                        <div class="row sizingtableleft"><p class="sizingp" name=""> Spring Torque (Mid)</p></div> 
                                        <div class="row sizingtableleft"><p class="sizingp" name=""> Spring Torque (End)</p></div>
                                        <div class="row sizingtableleft"><p class="sizingp" name="">Air Torque (End)</p></div>
                                        <div class="row sizingtableleft"><p class="sizingp" name="">Air Torque (Mid)</p></div>
                                        <div class="row sizingtableleft"><p class="sizingp" name="">Air Torque (End)</p></div>
                                        <div class="row sizingtableleft"><p class="sizingp" name="">Req Handwheel Torque</p></div>     
                                    </div>

                                    <div class="col-3" style="border-bottom:  1px solid #607274;">
                                        <div class="row sizingtableleft"><p class="sizingp">Unit</p></div>
                                        <div class="row sizingtable">
                                            <select name="stUnit"  class="form-control-sm-sm Rotary_select RactuatorUnits" data-desc="stUnit">
                                            {% for length in metadata['units_dict']['torque'] %}
                                                <option value="{{length.id}}" 
                                                {% if act_case_data.stUnit == length.id %}
                                                selected
                                                {% endif %}
                                                >{{length.name}}</option>
                                            {% endfor %}
                                            </select>
                                        </div>
                                        <div class="row sizingtable">
                                            <select  name="ptUnit"  class="form-control-sm-sm Rotary_select RactuatorUnits" data-desc="ptUnit">
                                                {% for length in metadata['units_dict']['torque'] %}
                                                <option value="{{length.id}}" 
                                                {% if act_case_data.ptUnit == length.id %}
                                                selected
                                                {% endif %}
                                                >{{length.name}}</option>
                                            {% endfor %}
                                            </select>
                                        </div>   
                                        <div class="row sizingtable">
                                            <select name="ftUnit" class="form-control-sm-sm Rotary_select RactuatorUnits" data-desc="ftUnit">
                                                {% for length in metadata['units_dict']['torque'] %}
                                                <option value="{{length.id}}" 
                                                {% if act_case_data.ftUnit == length.id %}
                                                selected
                                                {% endif %}
                                                >{{length.name}}</option>
                                            {% endfor %}
                                            </select>
                                        </div>   
                                        <div class="row sizingtable">
                                            <select name="btoUnit" class="form-control-sm-sm Rotary_select RactuatorUnits" data-desc="btoUnit">
                                                {% for length in metadata['units_dict']['torque'] %}
                                                <option value="{{length.id}}" 
                                                {% if act_case_data.btoUnit == length.id %}
                                                selected
                                                {% endif %}
                                                >{{length.name}}</option>
                                            {% endfor %}
                                            </select>
                                        </div>   
                                        <div class="row sizingtable">
                                            <select name="rtoUnit" class="form-control-sm-sm Rotary_select RactuatorUnits" data-desc="rtoUnit">
                                                {% for length in metadata['units_dict']['torque'] %}
                                                <option value="{{length.id}}" 
                                                {% if act_case_data.rtoUnit == length.id %}
                                                selected
                                                {% endif %}
                                                >{{length.name}}</option>
                                            {% endfor %}
                                            </select>
                                        </div>   
                                        <div class="row sizingtable">
                                            <select name="etoUnit"  class="form-control-sm-sm Rotary_select RactuatorUnits" data-desc="etoUnit">
                                                {% for length in metadata['units_dict']['torque'] %}
                                                <option value="{{length.id}}" 
                                                {% if act_case_data.etoUnit == length.id %}
                                                selected
                                                {% endif %}
                                                >{{length.name}}</option>
                                            {% endfor %}
                                            </select>
                                        </div>   
                                        <div class="row sizingtable">
                                            <select  name="btcUnit" class="form-control-sm-sm Rotary_select RactuatorUnits" data-desc="btcUnit">
                                                {% for length in metadata['units_dict']['torque'] %}
                                                <option value="{{length.id}}" 
                                                {% if act_case_data.btcUnit == length.id %}
                                                selected
                                                {% endif %}
                                                >{{length.name}}</option>
                                            {% endfor %}
                                            </select>
                                        </div>   
                                        <div class="row sizingtable">
                                            <select name="rtcUnit" class="form-control-sm-sm Rotary_select RactuatorUnits" data-desc="rtcUnit">
                                                {% for length in metadata['units_dict']['torque'] %}
                                                <option value="{{length.id}}" 
                                                {% if act_case_data.rtcUnit == length.id %}
                                                selected
                                                {% endif %}
                                                >{{length.name}}</option>
                                            {% endfor %}
                                            </select>
                                        </div>   
                                        <div class="row sizingtable">
                                            <select name="etcUnit"class="form-control-sm-sm Rotary_select RactuatorUnits" data-desc="etcUnit">
                                                {% for length in metadata['units_dict']['torque'] %}
                                                <option value="{{length.id}}" 
                                                {% if act_case_data.etcUnit == length.id %}
                                                selected
                                                {% endif %}
                                                >{{length.name}}</option>
                                            {% endfor %}
                                            </select>
                                        </div>
                                        <div class="row sizingtable">
                                            <select  name="mastUnit" class="form-control-sm-sm Rotary_select RactuatorUnits" data-desc="mastUnit">
                                                {% for length in metadata['units_dict']['torque'] %}
                                                <option value="{{length.id}}" 
                                                {% if act_case_data.mastUnit == length.id %}
                                                selected
                                                {% endif %}
                                                >{{length.name}}</option>
                                            {% endfor %}
                                            </select>
                                        </div>
                                        <div class="row sizingtable">
                                            <select name="setPUnit" class="form-control-sm-sm Rotary_select RactuatorUnits" data-desc="setPUnit">
                                                {% for length in metadata['units_dict']['pressure'] %}
                                                <option value="{{length.id}}" 
                                                {% if act_case_data.setPUnit == length.id %}
                                                selected
                                                {% endif %}
                                                >{{length.name}}</option>
                                            {% endfor %}
                                            </select>
                                        </div>
                                        <div class="row sizingtable">
                                        
                                        </div>
                                        <div class="row sizingtable">
                                            <select name="maxAirUnit" class="form-control-sm-sm Rotary_select RactuatorUnits" data-desc="maxAirUnit">
                                                {% for length in metadata['units_dict']['pressure'] %}
                                                <option value="{{length.id}}" 
                                                {% if act_case_data.maxAirUnit == length.id %}
                                                selected
                                                {% endif %}
                                                >{{length.name}}</option>
                                            {% endfor %}
                                            </select>
                                        </div>
                                        <div class="row sizingtable">
                                           
                                        </div>
                                        <div class="row sizingtable">
                                            <select name="stStartUnit" class="form-control-sm-sm Rotary_select RactuatorUnits" data-desc="stStartUnit">
                                                {% for length in metadata['units_dict']['torque'] %}
                                                <option value="{{length.id}}" 
                                                {% if act_case_data.stStartUnit == length.id %}
                                                selected
                                                {% endif %}
                                                >{{length.name}}</option>
                                            {% endfor %}
                                            </select>
                                        </div> 
                                        <div class="row sizingtable">
                                            <select name="stMidUnit" class="form-control-sm-sm Rotary_select RactuatorUnits" data-desc="stMidUnit">
                                                {% for length in metadata['units_dict']['torque'] %}
                                                <option value="{{length.id}}" 
                                                {% if act_case_data.stMidUnit == length.id %}
                                                selected
                                                {% endif %}>
                                                {{length.name}}</option>
                                            {% endfor %}
                                            </select>
                                        </div> 
                                        <div class="row sizingtable">
                                            <select name="stEndUnit" class="form-control-sm-sm Rotary_select RactuatorUnits" data-desc="stEndUnit">
                                                {% for length in metadata['units_dict']['torque'] %}
                                                <option value="{{length.id}}" 
                                                {% if act_case_data.stEndUnit == length.id %}
                                                selected
                                                {% endif %}
                                                >{{length.name}}</option>
                                            {% endfor %}
                                            </select>
                                        </div> 
                                        <div class="row sizingtable">
                                            <select name="atStartUnit" class="form-control-sm-sm Rotary_select RactuatorUnits" data-desc="atStartUnit" >
                                                {% for length in metadata['units_dict']['torque'] %}
                                                <option value="{{length.id}}" 
                                                {% if act_case_data.atStartUnit == length.id %}
                                                selected
                                                {% endif %}
                                                >{{length.name}}</option>
                                            {% endfor %}
                                            </select>
                                        </div> 
                                        <div class="row sizingtable">
                                            <select name="atMidUnit" class="form-control-sm-sm Rotary_select RactuatorUnits" data-desc="atMidUnit">
                                                {% for length in metadata['units_dict']['torque'] %}
                                                <option value="{{length.id}}" 
                                                {% if act_case_data.atMidUnit == length.id %}
                                                selected
                                                {% endif %}
                                                >{{length.name}}</option>
                                            {% endfor %}
                                            </select>
                                        </div> 
                                        <div class="row sizingtable">
                                            <select name="atEndUnit" class="form-control-sm-sm Rotary_select RactuatorUnits" data-desc="atEndUnit">
                                                {% for length in metadata['units_dict']['torque'] %}
                                                <option value="{{length.id}}" 
                                                {% if act_case_data.atEndUnit == length.id %}
                                                selected
                                                {% endif %}
                                                >{{length.name}}</option>
                                            {% endfor %}
                                            </select>
                                        </div> 
                                        <div class="row sizingtable">
                                            <select name="handWheelUnit" class="form-control-sm-sm Rotary_select RactuatorUnits" data-desc="handWheelUnit">
                                                {% for length in metadata['units_dict']['torque'] %}
                                                <option value="{{length.id}}">{{length.name}}</option>
                                            {% endfor %}
                                            </select>
                                        </div>                 
                                    </div>

                                    <div class="col-3" style="border-bottom:  1px solid #607274;">
                                        <div class="row sizingtableleft"><p class="sizingp">Values</p></div>
                                        <div class="row sizingtable"><input type="text" class="form-control-sm-sm Rotary_input rActuator_stUnit"  name="st" {% if act_case_data.st %} value="{{act_case_data.st}}" {% endif %}></div>
                                        <div class="row sizingtable"><input type="text" class="form-control-sm-sm Rotary_input rActuator_ptUnit" name="pt" {% if act_case_data.pt %} value="{{act_case_data.pt}}" {% endif %}></div>
                                        <div class="row sizingtable"><input type="text" class="form-control-sm-sm Rotary_input rActuator_ftUnit" name="ft" {% if act_case_data.ft %} value="{{act_case_data.ft}}" {% endif %}></div>
                                        <div class="row sizingtable"><input type="text" class="form-control-sm-sm Rotary_input rActuator_btoUnit" name="bto" {% if act_case_data.bto %} value="{{act_case_data.bto}}" {% endif %}></div>
                                        <div class="row sizingtable"><input type="text" class="form-control-sm-sm Rotary_input rActuator_rtoUnit" name="rto" {% if act_case_data.rto %} value="{{act_case_data.rto}}" {% endif %}></div>
                                        <div class="row sizingtable"><input type="text" class="form-control-sm-sm Rotary_input rActuator_etoUnit"  name="eto" {% if act_case_data.eto %} value="{{act_case_data.eto}}" {% endif %}></div>
                                        <div class="row sizingtable"><input type="text" class="form-control-sm-sm Rotary_input rActuator_btcUnit" name="btc" {% if act_case_data.btc %} value="{{act_case_data.btc}}" {% endif %}></div>
                                        <div class="row sizingtable"><input type="text" class="form-control-sm-sm Rotary_input rActuator_rtcUnit" name="rtc" {% if act_case_data.rtc %} value="{{act_case_data.rtc}}" {% endif %}></div>
                                        <div class="row sizingtable"><input type="text" class="form-control-sm-sm Rotary_input rActuator_etcUnit" name="etc" {% if act_case_data.etc %} value="{{act_case_data.etc}}" {% endif %}></div>
                                        <div class="row sizingtable"><input type="text" class="form-control-sm-sm Rotary_input rActuator_mastUnit" name="mast" {% if act_case_data.mast %} value="{{act_case_data.mast}}" {% endif %}></div>
                                        <div class="row sizingtable"><input type="text" class="form-control-sm-sm Rotary_input rActuator_setPUnit" name="setP" {% if act_case_data.setP %} value="{{act_case_data.setP}}" {% endif %}></div>
                                        <div class="row sizingtable">
                                            <input  class="form-control-sm-sm Rotary_select" name="actSize" {% if act_case_data.actSize_ %} value="{{act_case_data.actSize_}}" {% endif %}>
                                          
                                        </input>
                                        </div>
                                        <div class="row sizingtable"><input type="text" class="form-control-sm-sm Rotary_input rActuator_maxAirUnit" name="maxAir" {% if act_case_data.maxAir %} value="{{act_case_data.maxAir}}" {% endif %}></div>
                                        <div class="row sizingtable"><input type="text" class="form-control-sm-sm Rotary_input" name="springSet" {% if act_case_data.springSet %} value="{{act_case_data.springSet}}" {% endif %}></div>
                                        <div class="row sizingtable"><input type="text" class="form-control-sm-sm Rotary_input rActuator_stStartUnit" name="springSt" {% if act_case_data.springSt %} value="{{act_case_data.springSt}}" {% endif %}></div>
                                        <div class="row sizingtable"><input type="text" class="form-control-sm-sm Rotary_input rActuator_stMidUnit" name="springMd" {% if act_case_data.springMd %} value="{{act_case_data.springMd}}" {% endif %}></div>
                                        <div class="row sizingtable"><input type="text" class="form-control-sm-sm Rotary_input rActuator_stEndUnit" name="springEd" {% if act_case_data.springEd %} value="{{act_case_data.springEd}}" {% endif %}></div>
                                        <div class="row sizingtable"><input type="text" class="form-control-sm-sm Rotary_input rActuator_atStartUnit" name="AirSt" {% if act_case_data.AirSt %} value="{{act_case_data.AirSt}}" {% endif %}></div>
                                        <div class="row sizingtable"><input type="text" class="form-control-sm-sm Rotary_input rActuator_atMidUnit" name="AirMd" {% if act_case_data.AirMd %} value="{{act_case_data.AirMd}}" {% endif %}></div>
                                        <div class="row sizingtable"><input type="text" class="form-control-sm-sm Rotary_input rActuator_atEndUnit" name="AirEd" {% if act_case_data.AirEd %} value="{{act_case_data.AirEd}}" {% endif %}></div>            
                                        <div class="row sizingtable"><input type="text" class="form-control-sm-sm Rotary_input rActuator_handWheelUnit" name="ReqHand" ></div>
                                        <!-- <div class="row sizingtable"><input type="text" class="form-control-sm-sm" style="width: 100%;border: 0px solid;"></div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="button">
                        <button type="button" class="btn btn-info">Calculate</button>
                        <button type="button" class="btn" style="background-color: #04AA6D; color: white;">Select Actuator</button>
                        <button type="button" class="btn btn-info">Storke Speed</button>
                        <button type="button" class="btn" style="background-color: #04AA6D; color: white;">Spec Sheet</button>
                        </div> -->
                    </div>
                </div>
                <div class="row justify-content-end mt-2">
                    <div class="col-3">
                        <button type="button" class="btn btn-info mt-1 savebtn">Save Next</button>
                    </div>
                </div>
</form>
<script>
 $(document).ready(function () {
    $('.v_size, .d_dia').on('change', function(){
        var valveSize = $('.v_size').val();
        var discDia = $('.d_dia').val();
        var seatId = "{{valve.seatId}}"; 
        console.log(valveSize, discDia, seatId)
        $.ajax({
            type: "GET",
            url: "/get_rotaryinputs",
            data: {
                valve_size: valveSize,
                disc_dia: discDia,
                seatId: seatId
            },
            success: function(response) {
                console.log('RESPONSE:', response.afac);
                $('.cusc').val(response.cusc);
                $('.cusp').val(response.cusp);
                $('.a_fac').val(response.afac);
                $('.b_fac').val(response.bfac);
            },
            error: function(xhr, status, error) {
                console.error("Error:", error);
            }
        });
    });
});

$(document).ready(function () {
    var packingId = "{{valve.packingId}}"
    var valveSize = $('.v_size').val()
    var discDia = $('.d_dia').val()
    var seatId = "{{valve.seatId}}"
    console.log(valveSize, discDia, seatId)
    $.ajax({
                type: "GET",
                url: "/get_radialaxial",
                data: {
                    packingId: packingId
                },
                success: function(response) {
                    
                        console.log('RES',response)
                        $('.radial_coeff').val(parseFloat(response))
                },
                error: function(xhr, status, error) {
                console.error("Error:", error);
                }
        });
    $.ajax({
            type: "GET",
            url: "/get_rotaryinputs",
            data: {
                valve_size: valveSize,
                disc_dia: discDia,
                seatId: seatId
            },
            success: function(response) {
                console.log('RESPOMSEs' ,response.afac);
                $('.cusc').val(response.cusc)
                $('.cusp').val(response.cusp)
                $('.a_fac').val(response.afac)
                $('.b_fac').val(response.bfac)
                
       
            },
            error: function(xhr, status, error) {
            console.error("Error:", error);
            }
    });
    



var prev_unit;
$('.RactuatorUnits').on('focus', function(){
        prev_unit = $(this).val();
});

$('.RactuatorUnits').on('change', function(){
        var final_unit = $(this).val();
        console.log(prev_unit,final_unit);
        var params = $(this).data('desc');
        var param_values = []
        // if (params == 'stemDia'){
        //     $('.actuatorvalue_' + params + ' option').each(function() {
        //     param_values.push($(this).text());
        // });
        
        // }
        // else{
            $('.rActuator_' + params).each(function() {
            param_values.push(this.value);
        });
        // }

       
    
        $.ajax({
                type: "GET",
                url: "/unit_change",
                data: {
                prev_unit: prev_unit,
                final_unit: final_unit,
                params: params,     
                param_values: JSON.stringify(param_values),
                
                },
                success: function(response) {
                        ans_values = $.parseJSON(response)
                        console.log('ans',ans_values)
                        // if(params == 'stemDia'){
                        //     // $('.stemDia').empty();
                        //     console.log('stem')
                        //     // Append new options
                        //     $.each(ans_values, function(index, option) {
                        //         console.log('response',option);
                        //         $('.stemDia option').each(function(index) {
                        //                 $(this).text(ans_values[index]);
                        //             });
                        //     });
                        // }
                        // else{
                            $('.rActuator_' + params).each(function(index) {
                                $(this).val(ans_values[index]);
                        }); 
                        // }
                   
                },
                error: function(xhr, status, error) {
                console.error("Error:", error);
                }
        });

        prev_unit = final_unit;
});
        });
</script>
{% include "footer.html" %}
{% endblock %}