{% block content %}
{% include "header.html" %}
<form action="{{url_for('valveData', item_id=item.id, proj_id=item.project.id)}}" method="post">
	<div class="valvedatadetails mt-4">
		<!--# BOX  IDEN SELECTION MATERIAL-->
		<div class="row">

			<!-- VALVE IDENTIFICATION-->

			<div class="col-3 mt-4">
				<div class="row">
					<div class="col-12">
						<div class="valve identification p-3 shadow" style="width: 105%;">
							<h6><b>Valve Identification</b></h6>
							<hr>
							<div class="row ">
								<div class="col-5">
									<label>Tag No</label>
								</div>
								<div class="col-6">
									<input type="text" required class="form-control-sm-sm valvedata_input1"
										name="tagNumber" style="width: 120%;" value="{{valve.tagNumber}}">
								</div>
							</div>
							<div class="row mt-2">
								<div class="col-5">
									<label>Quantity</label>
								</div>
								<div class="col-6">
									<input type="number" class="form-control-sm-sm valvedata_input1" name="quantity"
										style="width: 120%;" value="{{valve.quantity}}">
								</div>
							</div>
							<div class="row ">
								<div class="col-5">
									<label>Application</label>
								</div>
								<div class="col-6">
									<input type="text" class="form-control-sm-sm valvedata_input1"
										value="{{valve.application}}" name="application" list="applicationList">
									<datalist id="applicationList">
										{% for application in metadata['application'] %}
										<option value="{{application.name}}">
											{%endfor%}
									</datalist>
								</div>
							</div>
							<div class="row ">
								<div class="col-5">
									<label>Serial No</label>
								</div>
								<div class="col-6">
									<input type="text" class="form-control-sm-sm valvedata_input1" name="serialNumber"
										value="{{valve.serialNumber}}">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="pressure mt-3 shadow p-3" >
							<h6 class="valvedata_heading"><b>Pressure-Temp Rating</b></h6>
							<hr>
							<div class="row ">
								<div class="col-5">
									<label>Rating</label>
								</div>
								<div class="col-6">
									<select id="" class="form-control-sm-sm valvedata_select1 style=" width: 120%;"
										name="rating">
										{% for rating in metadata['ratings'] %}
										{% if valve.rating.name == rating.name %}
										<option value="{{rating.id}}" selected>{{rating.name}}</option>
										{% else %}
										<option value="{{rating.id}}">{{rating.name}}</option>
										{%endif%}
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="row">
								<div class="col-5 pr-0">
									<label>Body Material</label>
								</div>
								<div class="col-6">
									<select id="" class="form-control-sm-sm valvedata_select1" name="material">
										{% for material in metadata['bodyMaterial'] %}
										{% if valve.material.name == material.name %}
										<option value="{{material.id}}" selected>{{material.name}}</option>
										{% else %}
										<option value="{{material.id}}">{{material.name}}</option>
										{%endif%}
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="row ">
								<div class="col-5 pr-0">
									<label>Shut-Off ∆P</label>
								</div>
								<div class="col-3">
									<input type="number" step="0.01" class="form-control-sm-sm valvedata_selectbox"
										style="width: 150%;" name="shutOffDelP" value="{{valve.shutOffDelP}}">
								</div>
								<div class="col-3">
									<select id="" class="form-control-sm-sm valvedata_inputbox" name="shutOffDelPUnit">
										{% for presunit in metadata['units_dict']['delPressure'] %}
										{% if presunit == valve.shutOffDelPUnit %}
										<option value="{{presunit.id}}" selected>{{presunit.name}}</option>
										{% else %}
										<option value="{{presunit.name}}">{{presunit.name}}</option>
										{% endif %}
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="row ">
								<div class="col-5 pr-0">
									<label>Max Pressure</label>
								</div>
								<div class="col-3">
									<input type="number" step="0.01" class="form-control-sm-sm valvedata_inputbox"
										name="maxPressure" value="{{valve.maxPressure}}">
								</div>
								<div class="col-3">
									<select id="" class="form-control-sm-sm valvedata_selectbox" name="maxPressureUnit">
										{% for presunit in metadata['units_dict']['pressure'] %}
										{% if presunit == valve.maxPressureUnit %}
										<option value="{{presunit.id}}" selected>{{presunit.name}}</option>
										{% else %}
										<option value="{{presunit.name}}">{{presunit.name}}</option>
										{% endif %}
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="row ">
								<div class="col-5">
									<label>Max Temp</label>
								</div>
								<div class="col-3">
									<input type="number" step="0.01" class="form-control-sm-sm valvedata_inputbox"
										name="maxTemp" value="{{valve.maxTemp}}">
								</div>
								<div class="col-3">
									<select id="" class="form-control-sm-sm valvedata_selectbox" name="maxTempUnit">
										{% for tempunit in metadata['units_dict']['temperature'] %}
										{% if tempunit == valve.maxTempUnit %}
										<option value="{{tempunit.id}}" selected>{{tempunit.name}}</option>
										{% else %}
										<option value="{{tempunit.name}}">{{tempunit.name}}</option>
										{% endif %}
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="row">
								<div class="col-5">
									<label>Min Temp</label>
								</div>
								<div class="col-3">
									<input type="number" step="0.01" class="form-control-sm-sm valvedata_inputbox"
										name="minTemp" value="{{valve.minTemp}}">
								</div>
								<div class="col-3">
									<select id="" class="form-control-sm-sm valvedata_selectbox" name="minTempUnit">
										{% for tempunit in metadata['units_dict']['temperature'] %}
										{% if tempunit == valve.minTempUnit %}
										<option value="{{tempunit.id}}" selected>{{tempunit.name}}</option>
										{% else %}
										<option value="{{tempunit.name}}">{{tempunit.name}}</option>
										{% endif %}
										{% endfor %}
									</select>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!---VALVE SELECTION-->
			<div class="col-6 mt-4">
				<div class="row">
					<div class="col-12">
						<div class="row">
							<div class="col-6">
								<div class="valveselection shadow p-3">
									<h6 class="valvedata_heading"><b>Valve Selection</b></h6>
									<hr>
									<div class="row  ">
										<div class="col-6">
											<label for="Valve Series">Valve Series</label>

										</div>
										<div class="col-6 mr-0">
											<select class="form-control-sm-sm valvedata_select" name="valveSeries"
												id="Valve Series" name="valve series">
												{% for valveSeries in metadata['valveSeries'] %}
												<option value="{{valveSeries}}">{{valveSeries}}</option>
												{% endfor %}
											</select>

										</div>
									</div>
									<div class="row">
										<div class="col-6">
											<label for="End Connection">End Connection</label>

										</div>
										<div class="col-6">
											<select class="form-control-sm-sm valvedata_select" name="endConnection__">

												{% for endconnection in metadata['endconnection'] %}
												{% if endconnection.name == valve.endConnection__.name %}
												<option value="{{endconnection.id}}" selected>{{endconnection.name}}
												</option>
												{% else %}
												<option value="{{endconnection.id}}">{{endconnection.name}}</option>
												{% endif %}
												{% endfor %}
											</select>


										</div>
									</div>
									<div class="row mt-2">
										<div class="col-6">
											<label for="end finish">End Finish</label>

										</div>
										<div class="col-6">
											<select class="form-control-sm-sm valvedata_select" name="endFinish__"
												style="width: 100%;">
												{% for endfinish in metadata['endfinish'] %}
												{% if endfinish.name == valve.endFinish__.name %}
												<option value="{{endfinish.id}}" selected>{{endfinish.name}}</option>
												{% else %}
												<option value="{{endfinish.id}}">{{endfinish.name}}</option>
												{% endif %}
												{% endfor %}
											</select>
										</div>
									</div>
									<div class="row mt-2">
										<div class="col-6">
											<label for="bonnetType__">Bonnet Type</label>

										</div>
										<div class="col-6">
											<select class="form-control-sm-sm valvedata_select" name="bonnetType__"
												style="width: 100%;">
												{% for bonnettype in metadata['bonnettype'] %}
												{% if bonnettype.name == valve.bonnetType__.name %}
												<option value="{{bonnettype.id}}" selected>{{bonnettype.name}}</option>
												{% else %}
												<option value="{{bonnettype.id}}">{{bonnettype.name}}</option>
												{% endif %}
												{% endfor %}
											</select>
										</div>
									</div>
									<div class="row mt-2">
										<div class="col-6 pr-0">
											<label for="bonnetExtDimension">Bonnet Ext Dimension</label>

										</div>
										<div class="col-6">
											<input type="number" class="form-control-sm-sm valvedata_input"
												name="bonnetExtDimension" value="{{valve.bonnetExtDimension}}">
										</div>
									</div>
									<div class="row mt-2">
										<div class="col-6">
											<label for="Packing Type">Packing Type</label>

										</div>
										<div class="col-6">
											<select class="form-control-sm-sm valvedata_select" name="packingType__">
												{% for packingtype in metadata['packingtype'] %}
												{% if packingtype.name == valve.packingType__.name %}
												<option value="{{packingtype.id}}" selected>{{packingtype.name}}
												</option>
												{% else %}
												<option value="{{packingtype.id}}">{{packingtype.name}}</option>
												{% endif %}
												{% endfor %}
											</select>
										</div>
									</div>
									<div class="row " id="trimTypeGlobe">
										<div class="col-6">
											<label for="Trim Type">Trim Type</label>

										</div>
										<div class="col-6">
											<select class="form-control-sm-sm valvedata_select" name="trimtypeG"
												id="trimtype_onselect">
												{% for trimtype in metadata['trimtype'] %}
												{% if trimtype.valveStyleId == metadata['globeStyleId'] %}
												{% if trimtype.name == valve.trimType__.name %}
												<option value="{{trimtype.id}}" selected>{{trimtype.name}}</option>
												{% else %}
												<option value="{{trimtype.id}}">{{trimtype.name}}</option>
												{% endif %}
												{%endif%}
												{% endfor %}
											</select>
										</div>
									</div>
									<div class="row " id="trimTypeButtefly">
										<div class="col-6">
											<label for="Trim Type">Trim Type</label>
										</div>
										<div class="col-6">
											<select class="form-control-sm-sm valvedata_select" name="trimtypeB"
												style="width: 100%;">
												{% for trimtype in metadata['trimtype'] %}
												{% if trimtype.valveStyleId == metadata['butterflyStyleId']  %}
												{% if trimtype.name == valve.trimType__.name %}
												<option value="{{trimtype.id}}" selected>{{trimtype.name}}</option>
												{% else %}
												<option value="{{trimtype.id}}">{{trimtype.name}}</option>
												{% endif %}
												{%endif%}
												{% endfor %}
											</select>
										</div>
									</div>
									<div class="row">
										<div class="col-6 pr-0">
											<label for="Flow Charcter">Flow Characteristic</label>

										</div>
										<div class="col-6">
											<select class="form-control-sm-sm valvedata_select" name="flowCharacter__">

												{% for flowcharacter in metadata['flowcharacter'] %}
												{% if flowcharacter.name == valve.flowCharacter__.name %}
												<option value="{{flowcharacter.id}}" selected>{{flowcharacter.name}}
												</option>
												{% else %}
												<option value="{{flowcharacter.id}}">{{flowcharacter.name}}</option>
												{% endif %}
												{% endfor %}
											</select>
										</div>
									</div>

									<div class="row ">
										<div class="col-6">
											<label for="Flow Direction">Flow Direction</label>

										</div>
										<div class="col-6">
											<select class="form-control-sm-sm valvedata_select" name="flowDirection__">

												{% for flowdirection in metadata['flowdirection'] %}
												{% if flowdirection.name == valve.flowDirection__.name %}
												<option value="{{flowdirection.id}}" selected>{{flowdirection.name}}
												</option>
												{% else %}
												<option value="{{flowdirection.id}}">{{flowdirection.name}}</option>
												{% endif %}
												{% endfor %}
											</select>
										</div>
									</div>
									<div class="row">
										<div class="col-6">
											<label for="Seat Leakage Class">Seat Leakage Class</label>

										</div>
										<div class="col-6">
											<select class="form-control-sm-sm valvedata_select"
												name="seatLeakageClass__">

												{% for seatleakageclass in metadata['seatleakageclass'] %}
												{% if seatleakageclass.name == valve.seatLeakageClass__.name %}
												<option value="{{seatleakageclass.id}}" selected>
													{{seatleakageclass.name}}</option>
												{% else %}
												<option value="{{seatleakageclass.id}}">{{seatleakageclass.name}}
												</option>
												{% endif %}
												{% endfor %}
											</select>
										</div>
									</div>

								</div>

							</div>
							<!---MATERIAL SELECTIOn-->
							<div class="col-6">

								<div class="materialselection shadow p-3">
									<h6 class="valvedata_heading"><b>Material Selection</b></h6>
									<hr>
									<div class="row " id="bonnet">
										<div class="col-6">
											<label for="Bonnet">Bonnet
											</label>

										</div>
										<div class="col-6">
											<select class="form-control-sm-sm valvedata_select" name="bonnet__"
												id="bonnet">

												{% for bonnet in metadata['bonnet'] %}
												{% if bonnet.name == valve.bonnet__.name %}
												<option value="{{bonnet.id}}" selected>{{bonnet.name}}</option>
												{% else %}
												<option value="{{bonnet.id}}">{{bonnet.name}}</option>
												{% endif %}
												{% endfor %}
											</select>

										</div>
									</div>
									<!-- Shaft or Stem -->
									<div class="row" id="shaft">
										<div class="col-6">
											<label for="shaft" id="shaftLable">Shaft</label>

										</div>
										<div class="col-6">
											<select class="form-control-sm-sm valvedata_select" name="shaft">
												{% for shaft in metadata['shaft'] %}
												{% if shaft.valveStyleId == metadata['butterflyStyleId'] %}
												{% if shaft.name == valve.shaft__.name %}
												<option value="{{shaft.id}}" selected>{{shaft.name}}</option>
												{% else %}
												<option value="{{shaft.id}}">{{shaft.name}}</option>
												{% endif %}
												{%endif%}
												{% endfor %}
											</select>
										</div>
									</div>
									<div class="row " id="stem">
										<div class="col-6">
											<label for="stem" id="stemLabel">Stem</label>

										</div>
										<div class="col-6">
											<select class="form-control-sm-sm valvedata_select" name="stem">
												{% for shaft in metadata['shaft'] %}
												{%if shaft.valveStyleId == metadata['globeStyleId']%}
												{% if shaft.name == valve.shaft__.name %}
												<option value="{{shaft.id}}" selected>{{shaft.name}}</option>
												{% else %}
												<option value="{{shaft.id}}">{{shaft.name}}</option>
												{% endif %}
												{%endif%}
												{% endfor %}
											</select>
										</div>
									</div>
									<!-- Disc or Plug -->
									<div class="row " id="disc">
										<div class="col-6">
											<label for="Disc">Disc</label>

										</div>
										<div class="col-6">
											<select class="form-control-sm-sm valvedata_select" name="disc">
												{% for disc in metadata['disc'] %}
												{% if disc.valveStyleId == metadata['butterflyStyleId'] %}
												<option value="{{disc.id}}">{{disc.name}}</option>
												{% endif %}
												{% endfor %}
											</select>
										</div>
									</div>
									<div class="row " id="plug">
										<div class="col-6">
											<label for="plug">Plug</label>

										</div>
										<div class="col-6">
											<select class="form-control-sm-sm valvedata_select" name="plug">

												{% for plug in metadata['disc'] %}
												{% if plug.valveStyleId == metadata['globeStyleId'] %}
												<option value="{{plug.id}}">{{plug.name}}</option>
												{% endif %}
												{% endfor %}
											</select>
										</div>
									</div>
									<!-- Seat or Seal -->
									<div class="row " id="seat">
										<div class="col-6">
											<label for="Seat">Seat</label>

										</div>
										<div class="col-6">
											<select class="form-control-sm-sm valvedata_select" name="seat">

												{% for seat in metadata['seat'] %}
												{% if seat.valveStyleId == metadata['globeStyleId'] %}
												<option value="{{seat.id}}">{{seat.name}}</option>
												{% endif %}
												{% endfor %}
											</select>
										</div>
									</div>
									<div class="row " id="seal">
										<div class="col-6">
											<label for="seal">Seal</label>

										</div>
										<div class="col-6">
											<select class="form-control-sm-sm valvedata_select" name="seal">

												{% for seat in metadata['seat'] %}
												{% if seat.valveStyleId == metadata['butterflyStyleId'] %}
												<option value="{{seat.id}}">{{seat.name}}</option>
												{% endif %}
												{% endfor %}
											</select>
										</div>
									</div>

									<div class="row " id="cage">
										<div class="col-6">
											<label for="cage" id="cage-clamp">Cage</label>

										</div>
										<div class="col-6">
											<select class="form-control-sm-sm valvedata_select" name="cage__">

												{% for cage in metadata['cageclamp'] %}
												{% if cage.name == valve.cage__.name %}
												<option value="{{cage.id}}" selected>{{cage.name}}</option>
												{% else %}
												<option value="{{cage.id}}">{{cage.name}}</option>
												{% endif %}
												{% endfor %}
											</select>
										</div>
									</div>
									<div class="row ">
										<div class="col-6">
											<label for="Packing">Packing</label>

										</div>
										<div class="col-6">
											<select class="form-control-sm-sm valvedata_select" name="packing__"
												id="packing">

												{% for packing in metadata['packing'] %}
												{% if packing.name == valve.packing__.name %}
												<option value="{{packing.id}}" selected>{{packing.name}}</option>
												{% else %}
												<option value="{{packing.id}}">{{packing.name}}</option>
												{% endif %}
												{% endfor %}
											</select>
										</div>
									</div>



									<div class="row " id="balanceseal">
										<div class="col-6">
											<label for="Balance Seal">Balance Seal</label>

										</div>
										<div class="col-6">
											<select class="form-control-sm-sm valvedata_select" name="balanceseal">

												{% for balanceseal in metadata['balanceseal'] %}
												{% if balanceseal.name == valve.balanceSeal__.name %}
												<option value="{{balanceseal.id}}" selected>{{balanceseal.name}}
												</option>
												{% else %}
												<option value="{{balanceseal.id}}">{{balanceseal.name}}</option>
												{% endif %}

												{% endfor %}
											</select>
										</div>
									</div>

									<div class="row mt-2" id="studnut">
										<div class="col-6">
											<label for="studnut">Stud/Nut</label>

										</div>
										<div class="col-6">
											<select class="form-control-sm-sm valvedata_select" name="studNut__">

												{% for studnut in metadata['studnut'] %}
												{% if studnut.name == valve.studNut__.name %}
												<option value="{{studnut.id}}" selected>{{studnut.name}}</option>
												{% else %}
												<option value="{{studnut.id}}">{{studnut.name}}</option>
												{% endif %}
												{% endfor %}
											</select>
										</div>
									</div>
									<div class="row mt-2">
										<div class="col-6">
											<label for="Gasket" id="gasket">Gasket</label>

										</div>
										<div class="col-6">
											<select class="form-control-sm-sm valvedata_select" name="gasket__">

												{% for gasket in metadata['gasket'] %}
												{% if gasket.name == valve.gasket__.name %}
												<option value="{{gasket.id}}" selected>{{gasket.name}}</option>
												{% else %}
												<option value="{{gasket.id}}">{{gasket.name}}</option>
												{% endif %}
												{% endfor %}
											</select>
										</div>
									</div>
									<!-- <button type="button" class="btn btn-info mt-4" style="margin-left: 60%;">Add
											Project</button> -->
								</div>

							</div>
						</div>
						<!-- <div class="row mt-2">
							<div class="col-12">
								<div class="warnings shadow p-3">
									<h6 class="valvedata_heading"><b>warnings</b></h6>
									<hr>
								</div>
							</div>
						</div> -->
					</div>
				</div>


			</div>
			<div class="col-3 mt-4">
				<div class="row ">
					<div class="col-10">
						<div class="row">
							<div class="col-6 pr-0">
								<label for="Design Standard">Design Std</label>


							</div>
							<div class="col-6">
								<select class="form-control-sm-sm valvedata_select" name="design">
									{% for standard in metadata['standard'] %}
									{% if standard.name == valve.design.name %}
									<option value="{{standard.id}}" selected>{{standard.name}}</option>
									{% else %}
									<option value="{{standard.id}}">{{standard.name}}</option>
									{% endif %}
									{% endfor %}
								</select>

							</div>

						</div>
						<div class="row mt-1">
							<div class="col-6">
								<label for="valve Style">Valve Style</label>


							</div>
							<div class="col-6">
								<select class="form-control-sm-sm valvedata_select" name="valvestyle" id="valvestyle">
									{% for valveStyle in metadata['valveStyle'] %}
									{% if valveStyle.name == valve.style.name %}
									<option value="{{valveStyle.id}}" selected>{{valveStyle.name}}</option>
									{% else %}
									<option value="{{valveStyle.id}}">{{valveStyle.name}}</option>
									{% endif %}
									{% endfor %}
								</select>

							</div>
						</div>


					</div>



				</div>
				<div class="row mt-3">
					<div class="col-12">
						<div class="warnings shadow p-3">
							<h6 class="valvedata_heading"><b>warnings</b></h6>
							<hr>
							<textarea name="" id="" cols="30" rows="10" style="resize: none;">{{msg}}</textarea>
						</div>
					</div>
				</div>

			</div>



		</div>
		<div class="row mt-3">
			<div class="col-6">
				<div class="row justify-content-end">
					<div class="col-12 fixed-bottom d-flex justify-content-end mb-3 ">
						<div class="valvedatabtn">
							<button type="submit" class="btn valvebutton btn-info btn-lg">Save</button>
							<!-- <button type="button" class="btn btn-info">create New Item</button> -->
						</div>

					</div>
					<div class="col-4">

					</div>
				</div>
			</div>

		</div>

	</div>
</form>



<script>
	console.log('{{metadata["shaft"][0]|safe}}')
	// var valveStyleElement = $('#valvestyle')
	// var valveStyle = valveStyleElement.find(":selected").text();
	// console.log(valveStyle)

	$('#valvestyle').change(function () {
		console.log($(this).find(":selected").text());
		if ($(this).find(":selected").val() == 1) {
			$('#shaftLabel').html('Seat')
			console.log()
		}
	})
</script>
<script>
	// alert('js working')
	window.onload = function () {
		var notesSelect = document.getElementById("valvestyle");
		var trimType = document.getElementById("trimtype_onselect");
		//   alert(trimType);
		var valve_style_text_start = $("#valvestyle :selected").text()
		var trim_type_start = $('#trimtype_onselect :selected').text()
		//   alert(valve_style_text_start)
		//   alert($('#cage-clamp').text())

		if (trim_type_start == 5 || trim_type_start == 6) {
			$("#cage-clamp").html("Clamp");
		} else {
			$("#cage-clamp").html("Cage");
		}


		if (valve_style_text_start == "Globe Straight" || valve_style_text_start == "Globe Angle") {
			// alert('Conditon working')
			$("#bonnet").show();
			$("#stem").show();
			$("#plug").show();
			$("#seat").show();
			$("#trimTypeGlobe").show();
			$("#cage").show();
			$('#balanceseal').show();
			$('#studnut').show();
			$("#shaft").hide();
			$("#disc").hide();
			$("#seal").hide();
			$("#trimTypeButtefly").hide();
			$("#gasket").text("Gasket");
			// console.log('Globe')

		} else if (valve_style_text_start == "Butterfly Lugged Wafer" || valve_style_text_start == "Butterfly Double Flanged") {
			// console.log('Butterfly')
			$("#bonnet").hide();
			$("#stem").hide();
			$("#plug").hide();
			$("#seat").hide();
			$("#cage").hide();
			$("#trimTypeGlobe").hide();
			$('#balanceseal').hide()
			$('#studnut').hide();
			$("#shaft").show();
			$("#disc").show();
			$("#seal").show();
			$("#trimTypeButtefly").show();
			$("#gasket").text("Seal Gasket");
		} else {
			console.log(valve_style_text_start)
		}

		notesSelect.onchange = function () {
			var valve_style_text = $("#valvestyle :selected").text()
			if (valve_style_text == "Globe Straight" || valve_style_text == "Globe Angle") {
				// alert('Conditon working')
				$("#bonnet").show();
				$("#stem").show();
				$("#plug").show();
				$("#seat").show();
				$("#trimTypeGlobe").show();
				$("#cage").show();
				$('#balanceseal').show();
				$('#studnut').show();
				$("#shaft").hide();
				$("#disc").hide();
				$("#seal").hide();
				$("#trimTypeButtefly").hide();
				$("#gasket").text("Gasket");

			} else if (valve_style_text == "Butterfly Lugged Wafer" || valve_style_text == "Butterfly Double Flanged") {
				// console.log('Butterfly')
				$("#bonnet").hide();
				$("#stem").hide();
				$("#plug").hide();
				$("#seat").hide();
				$("#cage").hide();
				$("#trimTypeGlobe").hide();
				$('#balanceseal').hide()
				$('#studnut').hide();
				$("#shaft").show();
				$("#disc").show();
				$("#seal").show();
				$("#trimTypeButtefly").show();
				$("#gasket").text("Seal Gasket");
			} else {
				console.log(valve_style_text)
			}
		}

		trimType.onchange = function () {
			var trim_type = $('#trimtype_onselect :selected').val()
			// alert(trim_type)

			if (trim_type == 5 || trim_type == 6) {
				$("#cage-clamp").text("Clamp");
			} else {
				$("#cage-clamp").text("Cage");
			}
		}
	};





</script>

{% include "footer.html" %}
{% endblock %}